//Colores: 

$colorPrimary: lightcyan;
$colorSecondary: darkslategray;
$colorDelete: crimson; 
$colorBgDelete: rgb(249, 203, 203);
$colorFavorite: teal; 

//Fuentes: 

$fontPrimary: 'Montserrat Alternates',
sans-serif;
