.footer {
    background-color: lightcyan;
    color: teal;
    display: flex;
    justify-content: center;
    gap: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 5px;
}
