.hero {
    background-image: url("/assets/images/disney-castle-banner.png");
    height: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &__form {
        display: flex;
        position: absolute;
        top: 38.5%;
        transform: scale(1.3);
        gap: 5px;
        &--input {
            font-family: $fontPrimary;
            border-radius: 5px;
            border: none;
        }
        &--btn {
        font-family: $fontPrimary;
        color: $colorFavorite;
        background-color: $colorPrimary;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        }
    }
}