.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $fontPrimary;
    padding-top: 5%;
    padding-bottom: 10%;
    background: linear-gradient(teal, black);
}

.favouriteList {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid $colorPrimary;
    border-radius: 10px;
    padding: 5px;
    color: $colorPrimary;
    font-weight: 600;
    min-height: 200px;
    width: 90%;
        &__title {
            text-align: center;
            text-shadow: $colorSecondary 0 -2px;
            padding: 5px;
            font-size: 2rem;
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: center;
       }
        &__delBtn {
            font-family: 'Montserrat Alternates', sans-serif;
            color: $colorDelete;
            background-color: $colorBgDelete;
            border: none;
            border-radius: 5px;
            font-weight: 600;
            padding: 5px 10px;
            align-self: flex-end;
            position: absolute;
        }
}

.content {

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid $colorPrimary;
        border-radius: 10px;
        padding: 5px;
        color: $colorPrimary;
        font-weight: 600;
        width: 90%;
        margin-top: 3%;
    &__title {
        text-align: center;
        padding: 10px;
        text-shadow: $colorSecondary 0 -2px;
        font-size: 2rem;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
    }
}
.card {
    border: 1px solid $colorPrimary;
    border-radius: 5px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
    &__img {
        width: 95%;
        text-align: center;
        height: 80%;
    }
    &__text {
        width: 95%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.cardDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.favourite {
    display: flex;
    flex-wrap: wrap;
    background-color: $colorPrimary;
    color: $colorSecondary;
    height: 180px;
    width: 100px;
    border: none;
    margin: 5px;
}

.deleteX {
    display: flex;
    align-self: flex-end;
    color: $colorDelete;
}

.hidden {
    display: none;
}

.card:hover {
    filter: opacity(.5);
}

