.hero {
    background-image: url("/assets/images/disney-castle-bg.jpg");
    width: 100vw;
    height: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}